.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 60px;
  box-shadow: 0 1px 3px -2px var(--textColorMain);
  margin-bottom: 1px;
  background: var(--mainBgColor);
  /*   background: white;
 */
}
.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-logo--icon {
  width: 75px;
}

.nav-logo--title {
  width: 180px;
  padding-bottom: 5px;
}

.nav-logo--admin {
  height: 15px;
}

.nav-profile {
  width: 75px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
    transition: 0.3s ease-in-out;
  }

  .nav-profile {
    width: 60px;
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 15px 30px;
    transition: 0.3s ease-in-out;
  }

  /* LA.GRIMA ADMIN PANEL */
  .nav-logo--icon {
    width: 50px;
    transition: 0.3s ease-in-out;
  }
  .nav-logo--title {
    width: 120px;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
  }
  .nav-logo--admin {
    height: 10px;
    transition: 0.3s ease-in-out;
  }
}

