 .footer {
  position: relative; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background: var(--mainBgColor);
  padding-bottom: 20px;
} 
.home .footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
} 



.footer hr {
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, var(--mainBgColor), var(--textColorMain),var(--mainBgColor));
  border: none;
  margin-bottom: 5px;
}
.footer p {
  color: var(--textColorMain);
  font-size: 16px;
}

.show-at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media(max-width:800px){

  .footer p {
    font-size: 0.8rem;
  }
}
@media(max-width:600px){

  .footer p {
    font-size: 0.6rem;
  }
}