.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: var(--mainBgColor);
  padding-bottom: 20px;
}
.footer hr {
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, var(--mainBgColor), var(--textColorMain),var(--mainBgColor));
  border: none;
  margin-bottom: 5px;
}
.footer p {
  color: var(--textColorMain);
  font-size: 16px;
}
